$c-white: #fff;
$c-black: #000;
$c-Gray: #777777;
$c-InfraRed: #000;
$c-Red: #f00;
$c-Orange: #ffa500;
$c-Yellow: #ffff00;
$c-Green: #0f0;
$c-Blue: #00f;
$c-Indigo: #00416A;
$c-Violet: #7f00ff;
$c-UltraViolet: #fff;