$c-white: #fff;
$c-black: #000;
$c-Gray: #777777;
$c-InfraRed: #000000;
$c-Red: #a20000;
$c-Orange: #ffa500;
$c-Yellow: #ffff00;
$c-Green: #00ff00;
$c-Blue: #4599ff;
$c-Indigo: #00416A;
$c-Violet: #7f00ff;
$c-UltraViolet: #ffffff;