.security_gray {
  background: $c-Gray;
  color: $c-black;
}
.security_gray_sb {
  scrollbar-color: $c-Gray $c-white;
}
.security_gray_sb::-webkit-scrollbar-thumb {
  background: $c-Gray;
  border: $c-black;
}
.security_infrared {
  background: $c-InfraRed ;
  color: $c-white;
}
.security_infrared_sb {
  scrollbar-color: $c-InfraRed $c-white;

}
.security_infrared_sb::-webkit-scrollbar-thumb {
  background: $c-InfraRed ;
  border: $c-white;
}
.security_red {
  background: $c-Red;
  color: $c-white;
}
.security_red_sb {
  scrollbar-color: $c-Red $c-white ;
}
.security_red_sb::-webkit-scrollbar-thumb {
  background: $c-Red ;
  border: $c-white;
}

.security_orange {
  background: $c-Orange;
  color: $c-black;
}
.security_orange_sb {
  scrollbar-color: $c-Orange $c-white;
}

.security_orange_sb::-webkit-scrollbar-thumb {
  background: $c-Orange;
  border: $c-black;
}
.security_yellow {
  background: $c-Yellow;
  color: $c-black;
}
.security_yellow_sb {
  scrollbar-color: $c-Yellow $c-white;
}
.security_yellow_sb::-webkit-scrollbar-thumb {
  background: $c-Yellow;
  border: $c-black;
}
.security_green {
  background: $c-Green;
  color: $c-black;
}
.security_green_sb {
  scrollbar-color: $c-Green $c-white;
}
.security_green_sb::-webkit-scrollbar-thumb {
  background: $c-Green;
  border: $c-black;
}

.security_blue {
  background: $c-Blue;
  color: $c-black;
}
.security_blue_sb {
  scrollbar-color: $c-Blue $c-white;
}
.security_blue_sb::-webkit-scrollbar-thumb {
  background: $c-Blue;
  border: $c-black;
}
.security_indigo {
  background: $c-Indigo;
  color: $c-white;
}
.security_indigo_sb {
  scrollbar-color: $c-Indigo $c-white;
}

.security_indigo_sb::-webkit-scrollbar-thumb {
  background: $c-Indigo;
  border: $c-white;
}
.security_violet {
  background: $c-Violet;
  color: $c-white;
}
.security_violet_sb {
  scrollbar-color: $c-Violet $c-white;
}
.security_violet_sb::-webkit-scrollbar-thumb  {
  background: $c-Violet;
  border: $c-white;
}
.security_ultraviolet {
  background: $c-UltraViolet;
  color: $c-black;
}
.security_ultraviolet_sb {
  scrollbar-color: $c-black $c-white;
}
.security_ultraviolet_sb::-webkit-scrollbar-thumb {
  background: $c-black;
  border: $c-black;
}