.security_gray {
  background: $c-Gray;
  color: $c-black;
}
.security_infrared {
  background: $c-InfraRed;
  color: $c-white;
}
.security_red {
  background: $c-Red;
  color: $c-white;
}
.security_orange {
  background: $c-Orange;
  color: $c-black;
}
.security_yellow {
  background: $c-Yellow;
  color: $c-black;
}
.security_green {
  background: $c-Green;
  color: $c-black;
}
.security_blue {
  background: $c-Blue;
  color: $c-black;
}
.security_indigo {
  background: $c-Indigo;
  color: $c-white;
}
.security_violet {
  background: $c-Violet;
  color: $c-white;
}
.security_ultraviolet {
  background: $c-UltraViolet;
  color: $c-black;
}