.xp-header {
    background-color: whitesmoke;
    font-family: "Lucida Console";
}
.xp.sheet.actor h1.character_name h1.quick_note{
    height:45px;
    margin:5px;
    font-weight: bold;
    text-transform: uppercase;
}